* {
    box-sizing:border-box;
}

ul, li, ol {
    list-style: none;;
}

.todoList {
    margin-top: 50px; 
}

.todoList li {
    border:1px solid #ddd;
    padding:25px;
    box-shadow:3px 3px 0 #eee;
}

.todoList li:not(:last-child) {
    margin-bottom:15px;
}